/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property *
 */
 .root{
 	-fx-background-color:transparent;
 }

 .button{
 	-fx-background-color: transparent;
 }
 .bt1{
 	-fx-background-image: url("../images/youtube.png");
 	-fx-background-size: 64.0 64.0;
 	-fx-background-repeat:no-repeat;
 	-fx-background-position: center;
 }
  .bt2{
 	-fx-background-image: url("../images/moodle.png");
 	-fx-background-size: 64.0 64.0;
 	-fx-background-repeat:no-repeat;
 	-fx-background-position: center;
 }
  .bt3{
 	-fx-background-image: url("../images/netflic.png");
 	-fx-background-size: 64.0 64.0;
 	-fx-background-repeat:no-repeat;
 	-fx-background-position: center;
 }
  .bt4{
 	-fx-background-image: url("../images/amazon.png");
 	-fx-background-size: 64.0 64.0;
 	-fx-background-repeat:no-repeat;
 	-fx-background-position: center;
 }
  .bt5{
 	-fx-background-image: url("../images/exit.png");
 	-fx-background-size: 64.0 64.0;
 	-fx-background-repeat:no-repeat;
 	-fx-background-position: center;
 }